```xml
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureStorageConnectionString" value="Your_Azure_Storage_Connection_String"/>
    <add key="ContainerName" value="Your_Container_Name"/>
    <add key="SearchPath" value="Your_Search_Path"/>
    <add key="FileExtensions" value=".jpg,.png,.gif"/>
    <add key="MinBlobSizeMB" value="5"/>
    <add key="OptimizationProgramPath" value="Your_Optimization_Program_Path"/>
    <add key="OptimizationProgramArguments" value="Your_Optimization_Program_Arguments"/>
    <add key="BatchSize" value="100"/>
  </appSettings>
</configuration>
```